* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1174px;
    margin: 0 auto;
}

.header {
    padding: 20px 0;
    margin-bottom: 80px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigationReference {
    display: flex;
    gap: 14px;
    align-items: center;
}

.home {
    color: #f25822;
}

.navigation a {
    font-size: 14px;
}

.mainContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 98px;
}

.mainContent__leftSide {
    max-width: 556px;
}

.mainContent__leftSide h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #000;
    margin-bottom: 20px;
}

.mainContent__leftSide p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #888;
    margin-bottom: 32px;
}

.mainContent__leftSide-btnList{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.button1 {
    border: #f25822;
    border-radius: 56px;
    padding: 16px 10px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    background: #f25822;
    width: 140px;
    height: 51px;
}

.button2 {
    font-weight: 600;
    font-size: 16px;
    color: #aaa;
    border: #fff;
    background: #fff;
}

.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.cardList1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    gap: 61px;
}

.card h2{
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 18px;
}

.card p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #666;
    margin-bottom: 25px;
}

.card img{
    margin-bottom: 25px;
}

.card button{
    border: #fff;
    background: #fff;
}

.card_center{
    padding: 40px 34px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.section4{
    padding: 100px;
    background: #fafafa;
}

.cardList2{
    padding: 0px 34px 34px 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 61px;
}

.card_center2{
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.section4_heder h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 24px;
    color: #000
}

.section4_heder p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 48px;
    color: #888;
}

.card2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 34px 34px 34px;
    background: #fff;
}

.card2 h2{
    font-weight: 700;
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 16px;
}

.card2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #666;
    text-align: center;
    margin-bottom: 24px;
}

.card2 img{
    margin-bottom: 32px;
}

